
{% extends "base.html" %}

{% block content %}
    
    <!-- Seção de "Herói" (Banner Principal) -->
    <section class="hero-section">
        <h1>Confira a nossa coleção de fim de ano.</h1>
        <p>Celebre o encanto do Natal com o que é importante para você. Edições limitadas disponíveis apenas neste período especial.</p>
        <a href="{{ url_for('main.index') }}" class="btn-primary">Comprar Agora</a>
    </section>

    <!-- Seção da Vitrine de Produtos -->
    <section class="product-grid">
        <h2>Nossa Seleção</h2>
        
        <div class="grid-container">
            
            <!-- Loop dinâmico (com as imagens) -->
            {% for produto in produtos %}
            <article class="product-card">
                
                {% if produto.imagem %}
                    <img src="{{ url_for('static', filename='images/' + produto.imagem) }}" alt="{{ produto.nome }}" class="product-card-image">
                {% else %}
                    <div class="product-placeholder-image"></div><!-- Placeholder se não houver imagem -->
                {% endif %}
                
                <h3>{{ produto.nome }}</h3>
                <p>R$ {{ "%.2f"|format(produto.preco) }}</p>
                <a href="{{ url_for('main.produto', produto_id=produto.produtoID) }}" class="btn-secondary">
                    Ver Detalhes
                </a>
            </article>
            {% endfor %}
            
            
        </div>
    </section>

{% endblock %}
